@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
:root {
  --color-black: black;  
  --color-dark-yellow: #daad27; 
  /* --color-dark-yellow: rgba(255, 230, 154, 0.742);  */
  --color-light-yellow: #fad053cb; 
  --color-light-gray: #333; 
  --color-rouge-epsi: #da4759;  
  --color-rouge-epsi-hover: #dc2036;  
  --color-green: green;  
  --color-epsi-gray: #eeeff3;  
  --color-violet-epsi: #261F48;  
  --color-violet-epsi-hover: #170f41;  

}